*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #6495ed;
}

main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock{
    min-width: 600px;
    min-height: 600px;
    background-color: white;
    border-radius: 50%;
    border: 15px groove rgb(69, 68, 68);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.number{
    padding: 6px;
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 600;
}

.center{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(186, 28, 28);
    border: 4px solid rgb(30, 2, 2);;
    z-index: 1;
}

.second-hand{
    z-index: 2;
    position: absolute;
    height: 200px;
    width: 3px;
    background-color: rgb(186, 28, 28);
    border-radius: 5px;
    transform: translate(0, -50%) rotate(30deg);
    transform-origin: bottom center;
}

.minute-hand{
    position: absolute;
    height: 240px;
    border-radius: 6px;
    width: 8px;
    background-color: rgb(50, 3, 3);
    transform: translate(0, -50%) rotate(60deg);
    transform-origin: bottom center;
}

.hour-hand{
    position: absolute;
    height: 150px;
    border-radius: 8px;
    width: 12px;
    background-color: rgb(30, 2, 2);
    transform: translate(0, -50%) rotate(0deg);
    transform-origin: bottom center;
}